@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


.App {
  text-align: center;
  color: #f0f8ff
}

#logo-home {
  max-width: 100%;
  margin-bottom: 0;
}

#logo-header {
  max-width: 40%;
  margin-top: 5px;
  margin-left: 5%;
  padding: 10px;
}

h1 {
 font-family: 'DM Serif Display', serif;
  font-size: 25px;
  color: black;
}

h2 {
  font-family: 'DM Serif Display', serif;
   font-size: 20px;
   margin: 0;
   color: black
 }


.error-message {
  color: red;
}